* {
  box-sizing: border-box;
}


.theme--light {
  &.application {
    background: transparent;
  }

  &.v-sheet {
    background-color: transparent;
    border-color: #fff;
    color: inherit;
    border-bottom: 10px solid;
  }
}
