.overview {

  .cv {

    .social {
      display: flex;
    }

  }

  .project {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .v-card {

      .technics {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;

      }
    }


    .project-bg {
      position: absolute;
      z-index: -1;
      width: 50vw;
      height: 50vw;
      top: 0;
      left: 0;
      background-size: cover;
      opacity: .5;
      transition: all .3s ease-in;
      transition: transform 2s ease-in;
    }

    &:hover {
      .project-bg {
        opacity: .7;
        transform: scale(2);
      }
    }

  }
}
